.navigation-topbar {
  position: relative;
  background-color: $navigation-bg;
  height: $navigation-height;
  box-sizing: border-box;
  padding: 0 $space-large;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33.3%;

    .toggle-main-sidebar {
      display: none;
    }
  }

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
  }

  &-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33.3%;
  }

  .muted {
    display: none;
  }
}
