# Managed by https://github.com/powerhome/software. Do not make changes here, they will be reverted.

name: Automated Code Reviews
on: [pull_request]

jobs:
  bearer:
    name: Bearer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: reviewdog/action-setup@d8edfce3dd5e1ec6978745e801f9c50b5ef80252 # v1
        with:
          reviewdog_version: latest
      - name: Bearer
        uses: bearer/bearer-action@828eeb928ce2f4a7ca5ed57fb8b59508cb8c79bc # v2
        with:
          diff: true
          format: rdjson
          output: rd.json
      - name: Run reviewdog
        if: always()
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          touch rd.json && cat rd.json | reviewdog -f=rdjson -reporter=github-pr-check
